USE [master]
GO
/****** Object:  Database [ESPACESOLUTION]    Script Date: 2026-08-04 6:06:58 PM ******/
CREATE DATABASE [ESPACESOLUTION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESPACESOLUTION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ESPACESOLUTION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESPACESOLUTION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ESPACESOLUTION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESPACESOLUTION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESPACESOLUTION]
GO
/****** Object:  Table [dbo].[ASTRONOMER]    Script Date: 2026-08-04 6:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASTRONOMER](
	[ASTRONOMER_ID] [int] NOT NULL,
	[ASTRONOMER_NAME] [varchar](255) NOT NULL,
	[DESIGNATION] [varchar](255) NOT NULL,
	[EXPERIENCE] [int] NOT NULL,
	[JET_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ASTRONOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASTRONOMER_QUALIFICATION]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASTRONOMER_QUALIFICATION](
	[ASTRONOMER_QUALIFICATION_ID] [int] NOT NULL,
	[QUALIFICATION_NAME] [varchar](255) NOT NULL,
	[ASTRONOMER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ASTRONOMER_QUALIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLONIST]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLONIST](
	[COLONIST_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](255) NOT NULL,
	[MIDDLE_NAME] [varchar](255) NULL,
	[SURNAME] [varchar](255) NOT NULL,
	[DOB] [date] NOT NULL,
	[AGE] [int] NOT NULL,
	[HOME_ADDRESS] [varchar](255) NOT NULL,
	[GENDER] [varchar](10) NULL,
	[CIVIL_STATUS] [varchar](50) NOT NULL,
	[NUMBER_FAMILY_MEMBERS] [int] NOT NULL,
	[COLONY_LOT_NUMBER] [int] NOT NULL,
	[TRIP_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COLONIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLONIST_CONTACT]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLONIST_CONTACT](
	[COLONIST_CONTACT_ID] [int] NOT NULL,
	[COLONIST_CONTACT_NUMBER] [int] NOT NULL,
	[COLONIST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COLONIST_CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLONIST_JOB_DETAILS]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLONIST_JOB_DETAILS](
	[JOB_ID] [int] NOT NULL,
	[COLONIST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC,
	[COLONIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLONIST_QUALIFICATION]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLONIST_QUALIFICATION](
	[COLONIST_QUALIFICATION_ID] [int] NOT NULL,
	[COLONIST_QUALIFICATION] [varchar](255) NOT NULL,
	[COLONIST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COLONIST_QUALIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPENDENTS]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPENDENTS](
	[DEPENDENT_ID] [int] NOT NULL,
	[DEPENDENT_NAME] [varchar](255) NOT NULL,
	[DOB] [date] NOT NULL,
	[AGE] [int] NOT NULL,
	[RELATIONSHIP] [varchar](255) NOT NULL,
	[COLONIST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPENDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJET]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJET](
	[JET_CODE] [int] NOT NULL,
	[JET_TYPE] [varchar](255) NULL,
	[POWER_SOURCE] [varchar](255) NOT NULL,
	[JET_WEIGHT] [int] NOT NULL,
	[MADE_YEAR] [date] NOT NULL,
	[NUMBER_PASSENGER_SEATS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JET_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOUSE]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOUSE](
	[COLONY_LOT_NUMBER] [int] NOT NULL,
	[NUMBER_OF_ROOMS] [int] NOT NULL,
	[SQUARE_FEET] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COLONY_LOT_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB](
	[JOB_ID] [int] NOT NULL,
	[JOB_NAME] [varchar](255) NOT NULL,
	[JOB_DESCRIPTION] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP]    Script Date: 2026-08-04 6:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP](
	[TRIP_ID] [int] NOT NULL,
	[LAUNCH_DATE] [date] NOT NULL,
	[RETURN_DATE] [date] NOT NULL,
	[JET_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASTRONOMER]  WITH CHECK ADD FOREIGN KEY([JET_CODE])
REFERENCES [dbo].[EJET] ([JET_CODE])
GO
ALTER TABLE [dbo].[ASTRONOMER_QUALIFICATION]  WITH CHECK ADD FOREIGN KEY([ASTRONOMER_ID])
REFERENCES [dbo].[ASTRONOMER] ([ASTRONOMER_ID])
GO
ALTER TABLE [dbo].[COLONIST]  WITH CHECK ADD FOREIGN KEY([COLONY_LOT_NUMBER])
REFERENCES [dbo].[HOUSE] ([COLONY_LOT_NUMBER])
GO
ALTER TABLE [dbo].[COLONIST]  WITH CHECK ADD FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
GO
ALTER TABLE [dbo].[COLONIST_CONTACT]  WITH CHECK ADD FOREIGN KEY([COLONIST_ID])
REFERENCES [dbo].[COLONIST] ([COLONIST_ID])
GO
ALTER TABLE [dbo].[COLONIST_JOB_DETAILS]  WITH CHECK ADD FOREIGN KEY([COLONIST_ID])
REFERENCES [dbo].[COLONIST] ([COLONIST_ID])
GO
ALTER TABLE [dbo].[COLONIST_JOB_DETAILS]  WITH CHECK ADD FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[JOB] ([JOB_ID])
GO
ALTER TABLE [dbo].[COLONIST_QUALIFICATION]  WITH CHECK ADD FOREIGN KEY([COLONIST_ID])
REFERENCES [dbo].[COLONIST] ([COLONIST_ID])
GO
ALTER TABLE [dbo].[DEPENDENTS]  WITH CHECK ADD FOREIGN KEY([COLONIST_ID])
REFERENCES [dbo].[COLONIST] ([COLONIST_ID])
GO
ALTER TABLE [dbo].[TRIP]  WITH CHECK ADD FOREIGN KEY([JET_CODE])
REFERENCES [dbo].[EJET] ([JET_CODE])
GO
USE [master]
GO
